.content= product.content
.price #{product.price} ì›
.tags.badges
  each tag in product.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-md
    .numbers.
      #[span.number.num-votes= product.numLikes] likes,
      #[span.number.num-comments= product.comment] comments,
      #[span.number.num-views= product.numReads] reads
