.content= product.content
.price #{product.price} ì›

.row
  .col-md
    .numbers.
      #[span.number.num-likes= product.numLikes] likes,
      #[span.number.num-comments= product.comment] comments,
      #[span.number.num-views= product.numReads] reads
