.container
  .row
    .col-lg-12
      .star-rating
        span.fa.fa-star-o(data-rating='1')
        span.fa.fa-star-o(data-rating='2')
        span.fa.fa-star-o(data-rating='3')
        span.fa.fa-star-o(data-rating='4')
        span.fa.fa-star-o(data-rating='5')
        input.rating-value(type='hidden' name='starpoint' value='1')