extends ../layout
//-여행지 모델 destinaton
block content
  .container
    h1.main-title
      | 여행지 리스트
      if destinations.total > 0
        p 총 #{destinations.total} 여행지
    a(href='/products') 모두 보기
    if !destinations.total 
      .alert.alert-info 여행지가 없습니다.
    else
      .destinations
        each destination in destinations
          .destinations
            a.title(href=`/products/destinations/${destination.id}`)= destination.name
          

            