extends ../layout



block content
  .container
    h1.main-title
      | 여행지 리스트
      if destinations.total > 0
        p 총 #{destinations.total} 여행지
    a(href='/products') 모두 보기
    hr
    each destination in destinations
      .destinations
        dl.row
          dt.col-md-3
            a(href=`/products/destinations/${destination.id}`)= destination.name
          dd.col-md-9= destination.content 
          hr         
    hr
    if(currentUser)
      if(currentUser.admin)
        a.btn.btn-outline-primary(href='/admin/destination/new') 여행지 추가
            