extends ../layout

block content
  .container
    h1.main-title 여행지 수정
    form(action=`/admin/destination/${destination.id}?_method=PUT`, method='POST')
      .form-group
        label(for='name') name
        input.form-control(type='text', id='name', name='name', placeholder='나라>도시 ex) 대한민국>서울',value=destination.name)
      .form-group
        label(for='content') content
        input.form-control(type='text', id='content', name='content', placeholder='간단 소개',value=destination.content)
      
      button.btn.btn-primary(type='submit') 수정 