extends ../layout

include ../includes/_paginate
//-모델이름 whislist(여행상품) 상품이랑 연결해서 사용
block content
  .container
    h1.main-title 
      | whislist
      if whislists.total > 0
        .small 총 #{whislists.total} 여행상품이 있습니다.

    if whislists.total <= 0 
      .alert.alert-info whislist가 없습니다.
    else
      .whislists
        each whislist in whislists.docs
          .whislists
            a.title(href=`/products/${whislist.product.id}`)= whislist.product.title
            include _whislist
      //todo 여행상품 리스트 맞게 수정
      +paginate(products, `/users/whishlist/${currentUser._id}`, query)
