.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top
    .container
      a.navbar-brand(href="/") Trip go
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/products/destinations") 전체 여행지
          li.nav-item
            a.nav-link(href="/guides") 가이드 정보
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') Signin
            li.nav-item
              a.nav-link(href='/users/new') Signup
          else
            li.nav-item
              a.nav-link(href=`/users/whislist/${currentUser._id}`) whislist  
            li.nav-item
              a.nav-link(href=`/users/reservations/${currentUser._id}`) 예약 내역          
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) 마이 페이지
            li.nav-item
              a.nav-link(href='/signout') Signout
        //-todo 프로필 화면 구축
          