@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
body {
  font: 1rem 'Montserrat', sans-serif;
  margin-top: 50px;
  padding-top: 1em; }
  body > .main-content {
    min-height: 400px; }

.search-input-group {
  position: relative; }
  .search-input-group input {
    border-radius: 2em;
   }

.product-whislist-btn {
  cursor: pointer; }
  .product-whislist-btn .for-loading {
    display: none; }
  .product-whislist-btn.loading {
    filter: opacity(30%);
    cursor: wait; }
    .product-whislist-btn.loading > span {
      display: none; }
    .product-whislist-btn.loading .for-loading {
      display: inline-block; }
  .product-whislist-btn.disabled {
    color: #bbb;
    cursor: default; }    